.container {
  display: flex;
  flex-direction: row;
  height: 50vh;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background: red;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-left: 350px;
  margin-top: 10px;
}
.bubble:before {
  display: flex;
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}

.word {
  font-size: 30px;
}

img {
  height: 200px;
  width: 200px;
}
